# إعدادات خادم رفع ملفات المحاضرات والواجبات - تطبيق الفراعنة
PORT=3000

# بيانات الاتصال بـ Cloudflare R2 Object Storage
R2_BUCKET_NAME=lecture-data
R2_ENDPOINT=https://20fd1dbe0e11c7fcd435574c9c57835f.r2.cloudflarestorage.com
R2_ACCESS_KEY_ID=your_r2_access_key_id
R2_SECRET_ACCESS_KEY=your_r2_secret_access_key
R2_PUBLIC_DOMAIN=https://pub-f9710a4d35b34defa42b5ea768a0c9e9.r2.dev
